:root {
    --degrade-oscuro: #2d6069;
    --azul-ultramar: #183263;
    --azul-urumepa: #366b9d;
    --azul-pastel: #a1b5cc;
    --celeste: #86c1c4;
    --verde-agua-uno: #9bd2b2;
    --verde-agua: #78d799;
    --azul-petroleo: #2d6069;
    --verde-urumepa: #0ea35a;
    --blanco: #fff;
}

@media only screen and (max-width: 412px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    body {
        max-width: 412px;
        height: fit-content;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    }

    header {
        max-width: 412px;
        height: 600px;
        background-color: tan;

        & .cabecera-h768 {
            max-width: 412px;
            height: 40px;
            background-color: var(--blanco);
            display: flex;
            align-items: center;

            & .logo {
                width: 25%;
                height: 100%;

                display: flex;
                align-items: center;
                background-color: red;

                & img {
                    height: 80%;
                }
            }

            & .menu {
                width: 75%;
                height: 100%;

                display: flex;
                align-items: center;
                background-color: blue;
            }
        }

        background-image: none;
        /* background-image: url(/assets/img/Tortuga_q5ZHaUx_1200w.jpg); */
        /* background-size: 412px; */

        & .logo-uru {
           display: none;
        }

        & .menu-lateral {
            display: none;
        }

        & .menu-bajo {
            display: none;
        }
    }

    & main {
        display: none;
    }
}